#Python - Data Structure Questions-

1. What are data structures and why are they important?

  - Data structures are specialized formats for organizing, storing, and managing data. They define the relationship between the data and the operations that can be performed on it. In Python, data structures are crucial for efficient data manipulation and problem-solving.

  Data structures are important because it provides the organization, efficiency, problem solving, management and foundation.

2. Explain the difference between mutable and immutable data types with examples?
  - Modifiability: Mutable objects can be changed after creation, while immutable objects cannot.
  - Memory: When a mutable object is changed, its memory address remains the same. When an immutable object is changed, a new object is created in memory.
  - Performance: Immutable objects can be faster to access and process because Python can optimize memory usage by reusing them. Mutable objects are more flexible but can incur overhead due to dynamic memory resizing.

3. What are the main differences between lists and tuples in Python?

  - Mutability: Lists are mutable, meaning their elements can be changed, added, or removed after creation. Tuples are immutable, which means that once a tuple is created, its elements cannot be modified.
  - Syntax: Lists are defined using square brackets []. For example, my_list = [1, 2, 3]. Tuples are defined using parentheses (). For example, my_tuple = (1, 2, 3).
  - Performance: Lists are slightly slower due to their dynamic nature and the need to allocate extra memory for potential changes. Tuples are generally faster than lists, especially when iterating through the elements. This is because tuples are immutable and Python can optimize their storage and access.
  - Memory Usage: Lists require more memory as they support operations that modify their content. Tuples generally consume less memory than lists because they are immutable and have a fixed size.

4. Describe how dictionaries store data?

  - Dictionaries in Python store data as key-value pairs. Each key within a dictionary is unique and immutable, while the associated value can be of any data type and is mutable. Dictionaries are unordered, meaning the sequence of pairs is not guaranteed.

5. Why might you use a set instead of a list in Python?

 - We use set instead of a list during the following instances.
    - We need to store unique elements.
    - We need to perform membership testing frequently.
    - We need to perform mathematical set operations.
    - When the order of elements is not important.

6. What is a string in Python and how is it different from a list?

  - A string in Python is a sequence of characters. It is used to represent textual data and is one of the most fundamental data types in the language. Strings are immutable, meaning they cannot be changed after they are created. Whereas List is a sequence of values which can be characters, integers or even another list. List are mutable, meaning they can be changed after they are created.

7. How do tuples ensure data integrity in Python?

  - Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed. This characteristic prevents accidental modifications, which is crucial for maintaining consistent data throughout a program.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index (hash code) into an array of buckets or slots, where the value is stored.
  In Python, dictionaries are implemented using hash tables. When you create a dictionary, Python uses a hash function to generate a hash code for each key. This hash code is then used to determine where the key-value pair should be stored within the underlying hash table. This mechanism allows for fast lookups, insertions, and deletions, making dictionaries efficient for various tasks.

9. Can lists contain different data types in Python?

  - Yes, lists in Python can contain different data types. This means a single list can hold a combination of integers, floats, strings, booleans, and even other complex data structures like lists, tuples, or dictionaries.

10. Explain why strings are immutable in Python.

  - When we perform operations like concatenation or slicing on a string, a new string object is created, and the original string remains unchanged. This behavior is consistent across all immutable data types in Python, including integers, floats, booleans, and tuples. This helps to get original data in the future for any kind of reconciliations.

11. What advantages do dictionaries offer over lists for certain tasks?

  - The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary. If the data your trying to store is identifiable so the data can be attributed to name name or item this might be a preferable system. One example would be storing the age of school students.

12. Describe a scenario where using a tuple would be preferable over a list?

  - If we have data that's not meant to be changed in the first place — such as critical information or records — we should choose tuple data type over lists. But if we know that the data will grow and shrink during the runtime of the application, we need to go with the list data type.

13.  How do sets handle duplicate values in Python?

  - In Python, sets are designed to store only unique elements. When we attempt to add a duplicate value to a set, it does not raise an error, but the duplicate value is simply ignored, and the set remains unchanged.

14.  How does the “in” keyword work differently for lists and dictionaries?

  - For lists, "in" Keyword uses a search algorithm, whereas, for dictionaries, "in" keyword tells us whether something appears or not as a key in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?

  - No, we cannot directly modify the elements of a tuple after it has been created. Tuples are immutable data structures, meaning their contents cannot be changed, added to, or removed from once they are defined. This immutability ensures that the data within a tuple remains consistent and predictable throughout its lifetime.

16. What is a nested dictionary, and give an example of its use case?

  - A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows us to create hierarchical or multi-level data structures, where each dictionary can contain other dictionaries as its values.
  Example:- Representing structures like employee departments, file systems, or product categories.

17. Describe the time complexity of accessing elements in a dictionary?

  - Accessing an element in a dictionary typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. This is due to the use of a hash table, which allows for direct lookup of elements based on their key. In the worst-case scenario, where a hash function causes many collisions, the time complexity can degrade to O(n), where n is the number of elements in the dictionary.

18.  In what situations are lists preferred over dictionaries?

  - For quick data look-ups, configurations, or caches, favor dictionaries, ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order. If we want to collect a set of objects in order, we have only one choice of accessing them: through index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - In terms of data retrieval, lists are accessed by index, while dictionaries are accessed by key.

#Practical Questions

In [ ]:
# Write a code to create a string with your name and print it.

a = "SOURAV"
print("SOURAV")
type(a)

SOURAV

str

In [ ]:
# Write a code to find the length of the string "Hello World".

a = "Hello World"
len(a)

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming".

String1 = "Python Programming"
String1 [0:3]

'Pyt'

In [ ]:
# Write a code to convert the string "hello" to uppercase.

text = "hello"
text.upper()

'HELLO'

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".

a = "I like apple"
a.replace('apple', 'orange')

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.

for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].

a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

s = [1, 2, 3, 4, 5]
s.remove(3)
print(s)

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

s = [10, 20, 30, 40, 50]
s.reverse()
print(s)

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_to_last_color = colors[-2]
print(second_to_last_color)

blue

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min(numbers)

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index = animals.index("cat")
print(index)

1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'kiwi', 'orange')
if 'kiwi' in fruits:
  print("Kiwi is present")
else:
  print("Kiwi is not present")

Kiwi is present

In [ ]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [ ]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1|s2

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

S1 = {1, 2, 3}
S2 = {2, 3, 4}
S1&S2

{2, 3}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name" : "SOURAV", "age" : 29, "city" : "Durgapur"}
my_dict["name"]

'SOURAV'

In [ ]:
my_dict = {"name" : "SOURAV", "age" : 29, "city" : "Durgapur"}
my_dict["age"]

29

In [ ]:
my_dict = {"name" : "SOURAV", "age" : 29, "city" : "Durgapur"}
my_dict["city"]

'Durgapur'

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

a = {"name": "John", "age": 25}

# Adding an item to the dictionary
a["country"] = "USA"

print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

my_dict = {'name': 'Alice', 'age': 30}
my_dict['name']

'Alice'

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict:
  print("City in present")
else:
  print("City not present")

City in present

In [ ]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = ["Sourav", "Ajay" , "Dipali"]
my_tuple = ("Sourav", "Ajay" , "Dipali")
my_dict = {"name" : "Sourav", "age" : 29}
print( my_list, my_tuple, my_dict)

['Sourav', 'Ajay', 'Dipali'] ('Sourav', 'Ajay', 'Dipali') {'name': 'Sourav', 'age': 29}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

result = [40, 50, 30, 90, 80]
result.sort()
print(result)

[30, 40, 50, 80, 90]

In [ ]:
# Write a code to create a list with strings and print the element at the third index.

a = ["1", "2", "3"]
a.insert(2, "10")
print(a)

['1', '2', '10', '3']

In [ ]:
# Write a code to combine two dictionaries into one and print the result.

dict_a = {'a': 1, 'b': 2}
dict_b = {'b': 3, 'c': 4}
combined_dict = (dict_a, dict_b)
print(combined_dict)

({'a': 1, 'b': 2}, {'b': 3, 'c': 4})

In [ ]:
# Write a code to convert a list of strings into a set.

s = [1,1,2,3,4,2,5]
convertset = set(s)
print(convertset)

{1, 2, 3, 4, 5}

In [ ]:
type(convertset)

set